.recipe-image {
  height: 200px;
}

.container {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.recipe-container {
  display: inline-block;
  height: 98%;
  width: 80%;
  text-align: left;
  padding: 15px;
}

.button {
  margin: 5px;
}

.button-bar {
  /* float: right; */
}

.recipe-header {
  margin-top: 80px;
  margin-bottom: 20px;
}
