.recipe-image {
  height: 200px;
}

.container {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.recipe-container {
  overflow: scroll;
  display: inline-block;
  height: 90vh;
  width: 100%;
  text-align: left;
  padding: 15px;
}

/* .button-bar {
  float: right;
} */

.button {
  margin: 5px;
}

.recipe-header {
  margin-top: 80px;
  margin-bottom: 20px;
}

.x {
  float: right;
}

.rightScreen {
  border-left: 1px solid black;
}
